/*shop_add.htmlのcss*/

.shop-add-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.shop-add-form h2 {
    border-bottom: 2px solid black;
    width: fit-content;
    text-align: center;
    margin-bottom: 1%;
}
