<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    <script src="{{ url_for('static', filename='calendar.js') }}" defer></script>
    <title>シフト登録</title>
</head>

<body>
    <dialog id="modal">
        <button autofocus>閉じる</button>
        <div id="modal-text">
            <p>シフトの日時を入力</p>
            <div id="modal-box">
                <form action="{{ url_for('calendar.add')}}" method="post" class="modal-form">
                    <label for="shift">日付</label>
                    <input type="date" id="shift-date" name="shift_date" required />
                    <label for="shift">シフト開始</label>
                    <input type="time" id="shift-in" name="shift_in" required />
                    <label for="shift">シフト終了</label>
                    <input type="time" id="shift-out" name="shift_out" required />
                    <label>店舗名：
                        <select name="location" required>
                            {% for shop in shops %}
                            <option value="{{ shop.location }}">{{ shop.location }}</option>
                            {% endfor %}
                        </select>
                    </label><br>
                    <input type="submit" value="追加" class="button" />
                </form>
                <p id="warn-text">日付を入力してね</p>
            </div>
        </div>
    </dialog>
    <div id="contents">
        <h1 id="header">シフト登録</h1>
        <div id="main">
            <div id="side">
                <!-- サイドバーの内容 -->
            </div>
            <div id="main-contents">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</body>

</html>