<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>シフト管理アプリ</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
	<header>
		<h1>バイトリーダー</h1>
	</header>
	<main>
		<li><a href="{{ url_for('display_wages') }}">給与参照</a></li>
		<li><a href="{{ url_for('display_103_graph')}}">合計給与参照</a></li>
		<li><a href="{{ url_for('calendar.add')}}">カレンダー</a></li>
		<li><a href="{{ url_for('shop.add')}}">バイト先編集</a></li>
	</main>
	<footer>
		<p>© 2024 シフト管理アプリ</p>
	</footer>
</body>

</html>