<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>シフト管理アプリ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='user_add.css') }}" />
</head>

<body>
  <header>
    <h1>バイトリーダー</h1>
  </header>
  <main class="user-add-main">
    <form action="/add" method="post" class="user-add-form">
      <h2>ユーザ登録</h2>
      <label>名前
        <input type="text" name="user_id" value="{{ user_id }}" required />
      </label><br />

      <label>バイト先
        <input type="text" name="company_id" value="{{ company_id }}" required />
      </label><br />

      <label>平日時給
        <input type="number" name="weekday_wage" value="{{ weekday_wage }}" required />
      </label><br />

      <label>休日時給
        <input type="number" name="holiday_wage" value="{{ holyday_wage }}" required />
      </label><br />

      <input type="submit" value="次へ" class="button" />
    </form>
  </main>
</body>
<footer>
  <p>2024 シフト管理アプリ</p>
</footer>

</html>